<%- include("partials/header.ejs")%>

<div class="container">
  <h1>Current price</h1>
  <h2>Sample word: <%= locals.Sample %></h2>
  <h2><%=locals.content%></h2>
</div>

<%- include("partials/footer.ejs")%>
